<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/styles/tailwind.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gray-100 text-gray-800">
    <%- include('header') %>
    <main class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-10">
      <h1 class="text-4xl font-extrabold text-center text-gray-800 mt-6 mb-4 hover:text-gray-600 transition duration-300">
        Ehhhh this is just a parody, I made this for fun to understand the working of APIs and Axios in Express
      </h1>
      <p class="text-lg leading-relaxed text-gray-700 mb-6">
        Learning becomes super easy when you try to build something that makes you feel good. I know this sounds a bit cliche, at some point things become boring, and that's the main game to play. It's about dealing with boredom but also figuring things out to make them interesting for you and that's it—you'll achieve your goal one day, and then move on to the next goal. This is life :)
      </p>
    </main>
  </body>
</html>
