
<header class="bg-blue-600 text-white font-semibold p-6">
    <nav>
      <ul class="flex gap-8 justify-center">
        <li class="cursor-pointer transition duration-300 border-b-2 border-transparent hover:border-white"><a href="/">Home</a></li>
        <li class="cursor-pointer transition duration-300 border-b-2 border-transparent hover:border-white"><a href="/aboutUs">About</a></li>
        <li class="cursor-pointer transition duration-300 border-b-2 border-transparent hover:border-white"><a href="/service">Service</a></li>
        <li class="cursor-pointer transition duration-300 border-b-2 border-transparent hover:border-white"><a href="/contactUs">Contact Us</a></li>
      </ul>
    </nav>
  </header>