<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sahibjit Singh - Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 text-gray-800 font-sans">

    <%- include('header') %>

    <main class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-10">
      <h1 class="text-4xl font-extrabold text-center text-gray-800 mt-6 mb-4">
        Hi 👋, I'm Sahibjit Singh
      </h1>
      <img 
        class="float-right w-80 mb-4 rounded-lg shadow-md" 
        alt="Coding" 
        src="https://gifdb.com/images/high/coding-penguin-i-like-pressing-buttons-puv3coc5z4pkth51.webp"
      />
      <h3 class="text-center text-xl font-semibold mb-6">
        I’m interested in software development, web technologies, and exploring new programming languages.
      </h3>
      <ul class="list-disc ml-6 mb-6">
        <li>🌱 I’m currently learning <strong>MERN Stack</strong></li>
        <li>📫 How to reach me: <strong>sahibjitsinghramgharia@gmail.com</strong></li>
        <li>⚡ Fun fact: I can speak multiple languages fluently, including English with a strong American accent, which surprises a lot of people!</li>
      </ul>

      <h3 class="text-2xl font-semibold mb-4">Connect with me:</h3>
      <div class="mb-6">
        <a href="https://linkedin.com/in/sahibjit-singh748" target="_blank">
          <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="LinkedIn" width="40" class="inline-block mr-4"/>
        </a>
        <a href="https://instagram.com/isahibjitsingh" target="_blank">
          <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="Instagram" width="40" class="inline-block"/>
        </a>
      </div>

      <h3 class="text-2xl font-semibold mb-4">Languages and Tools:</h3>
      <div class="flex flex-wrap gap-4">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original-wordmark.svg" alt="AngularJS" width="40"/>
        <img src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg" alt="Arduino" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="C" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="C++" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="CSS3" width="40"/>
        <img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="Django" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="HTML5" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="Java" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="JavaScript" width="40"/>
        <img src="https://www.vectorlogo.zone/logos/kotlinlang/kotlinlang-icon.svg" alt="Kotlin" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="MongoDB" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="Node.js" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="Python" width="40"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React" width="40"/>
        <img src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg" alt="Tailwind CSS" width="40"/>
      </div>
    </main>
  </body>
</html>
